<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342269915568-364lbg4e7o6o77cvnohl2hjvki9fkjl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342269915568-364lbg4e7o6o77cvnohl2hjvki9fkjl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342269915568-00c1ha8kqssatkbiduc4r9nug1nhrne6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIB_WAcvM8mfNtGwaDuhg7u76f9BW7QB8</string>
	<key>GCM_SENDER_ID</key>
	<string>342269915568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crossfit.personaltrainer.gymtrainer.fitness</string>
	<key>PROJECT_ID</key>
	<string>gym---trainer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gym---trainer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342269915568:ios:b67b294837e8ba11392675</string>
</dict>
</plist>